@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root{
    --main-font-poppins345: 'Poppins', sans-serif;
    --main-color: hsla(32, 100%, 45%, 1);
    --textColor: hsla(0, 0%, 0%, 0.9);
    --DefaultColor: hsla(173, 96%, 100%, 0.9);
    --navBG: hsla(32, 100%, 77%, 1);


    --items-color: rgba(223, 220, 220, 0.52);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    background: rgba(223, 220, 220, 0.52);
    background-attachment: fixed;
    color: var(--textColor);
    min-height: 100vh;
    font-family: var(--main-font-poppins345);
    overflow-x: hidden;
    transition: all 0.4s ease-in-out;
}

/* header styles */

nav {

    height: 4rem;
    width: 100%;
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

ul {
    display: flex;
    justify-content: space-between;
    width: 15rem;
    padding: 0 2rem;
    font-weight: 400;
    font-size: 1rem;
    list-style-type: none;

}

.yow a{  
    
    font-size: 1rem;
    color: var(--textColor);
    text-decoration: none;
    width: 5rem;
    padding: 0.2em 0;
    text-align: center;
    position: relative;
}

.yow a::after{

    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: var(--main-color);
    transform: scale(0, 1);
    transition: transform 0.2s ease-in;

}

.yow a:hover::after{

    transform: scale(1, 1);
}


a:focus{

    border-bottom: 1px solid var(--main-color);

}

.ham{

    display: none;
}

.header__title{

    display: none;

}

nav .fa{

    cursor: pointer;
    font-size: 1.5em;
}

/*dark mode */
body.darkmode{

    background: #22272e;
    
    --items-color: #22272e;
    --textColor: hsla(0, 0%, 99%, 0.9);
    --navBG: hsla(32, 100%, 45%, 1);
}



input[type="checkbox"].switch{
    appearance: none;
    width: 2em;
    height: 1em;
    background: #ddd;
    border-radius: 3em;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: all .2s ease-in-out;
}

input[type="checkbox"].switch:after{
    position: absolute;
    content: "";
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: var(--main-color);
    box-shadow: 0 0 .25em rgba(0,0,0,.3);
    transform: scale(.7);
    left: 0;
    transition: all .2s ease-in-out;
}

input[type="checkbox"].switch:checked:after{
    left: calc(100% - 1em);
}

input[type="checkbox"].switch:checked{
    background: var(--DefaultColor);

}


@media screen and (max-width: 995px){
    
    nav{
        padding: 0 2rem;
    }

    .ham {

        display: block;
        border: none;
        background: transparent;
        color: var(--main-color);
        cursor: pointer;

    }

    .yow {

        display: none;
    }

    a{
        position: unset;
    }
    a:focus{
        border-bottom: 3px solid hsla(23, 35%, 100%, 0.52);
    }

    .header__title{
        display: block;
    }

    .yow.show {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--navBG);
        height: 6rem;
        width: 100%;

        position: absolute;
        top: 60px;
        left: 0;

    }
}

/*=====================================*/

.home__introduction{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 700px;
    gap: 1rem;
    padding: 0 5rem;
}

.home__inside__container{
    width: 40rem;
}

.home__inside__container > *{
    
    margin-bottom: 2rem;
}

h1{
    font-size: 4rem;
}

h2 {

    font-size: 3rem;
}

p {

    text-align: center start;
    font-size: 1.5rem;
}

.name{

    color: var(--main-color);
    font-size: 3rem;
    transition: ease-in 0.1s;
    cursor: pointer;
    position: relative;
}

.name::after{

    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background: var(--main-color);

    transform: scale(0, 1);
    transform-origin: 0% 100%;
    transition: transform 0.3s ease;

}

.name:hover::after{

    transform: scale(1, 1);
}

.icons__yow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 5rem;
}

.icons__yow a{

    color: var(--textColor);
    font-size: 2em;
    padding: 0;
    text-align: start;
}

.icons__yow a:hover,
.icons__yow a:focus
{
    border-bottom: unset;
    color: var(--main-color);
}


.image__container img{

    margin-top: -10rem;
    width: 100%;
    background-attachment: fixed;
    transition: width ease-in 0.3s;
}

.seperator{

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem auto;
    width: 40%;
    height: 2px;
    background: var(--main-color);

}


@media screen and (max-width: 995px){

    
    .home__introduction{

        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 2rem;

    }

    .home__inside__container{

        text-align: start;
        width: 100%;
    }

    .image__container img{

        display: none;
    }

    h1{

        font-size: 2rem;
    }

    h2{
        font-size: 2rem;
    }
    
    .name{

        font-size: 2rem;
    }

    p{

        font-size: 1rem;
    }
    
    .seperator{
        width: 70%;
    }

    
}
